* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    position: relative;
}

header img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

header h1 {
    position: absolute;
    color: black;
    font-size: 48px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.form-buttons {
    display: flex;
    gap: 20px;
}

.form-buttons button {
    background-color: black;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.form-buttons button:hover {
    background-color: #333;
}

footer {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}

/* =============== 1) Start: Navigation Bar Setting =============== */
/* to prevent block element invisible */
.navbar {
    overflow: hidden; 
    background-color: #000000;
}

/* Hover Setting */
.navbar a:hover, .dropdown:hover .dropbtn {
    color: #000000;
    background-color: red;
}

/* HOME Setting */
.navbar a {
    float: left;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* General Knowlegde and Technic Setting */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* General Knowlegde and Technic Content Setting */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* =============== 1) End: Navigation Bar Setting =============== */